# Tuples

A **Tuple** is a sequence of immutable Python objects. Tuples are sequences, just like lists. The main difference between the tuples and the lists is that the tuples cannot be changed unlike lists. Tuples use parentheses, whereas lists use square brackets.

### Creating Tuple

In [1]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"

In [2]:
tup1 = () # Empty Tuple

In [3]:
tup1 = (50,) # Tuple containing a single value - Include a comma, even though there is only one value.

### Accessing Values in Tuples

In [4]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

### Updating Tuples

Tuples are immutable, which means you cannot update or change the values of tuple elements. You are able to take portions of the existing tuples to create new tuples

In [5]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
# Following action is not valid for tuples
# tup1[0] = 100;
# So let's create a new tuple as follows
tup3 = tup1 + tup2
print (tup3)

(12, 34.56, 'abc', 'xyz')

### Delete Tuple Elements

Removing individual tuple elements is not possible. There is, of course, nothing wrong with putting together another tuple with the undesired elements discarded.

To explicitly remove an entire tuple, just use the **del** statement.

In [8]:
tup = ('physics', 'chemistry', 1997, 2000);
print (tup)
del tup;
# print(tup) --> Error: NameError: name 'tup' is not defined

('physics', 'chemistry', 1997, 2000)

### Basic Tuple Operations

Python Expression | Results | Description
------------|------------|------------
len((1, 2, 3)) | 3 | Length
(1, 2, 3) + (4, 5, 6) | (1, 2, 3, 4, 5, 6) | Concatenation
('Hi!',) * 4 | ('Hi!', 'Hi!', 'Hi!', 'Hi!') | Repetition
3 in (1, 2, 3) | True | Membership
for x in (1,2,3) : print (x, end=' ') |1 2 3 | Iteration

### Indexing, Slicing and Matrixes

Assuming the following input- T=('C++', 'Java', 'Python')

Python Expression | Results | Description
------------------|---------|-----------
T[2] | 'Python' | Offsets start at zero
T[-2] | 'Java' | Negative: count from the right
T[1:] | ('Java', 'Python') | Slicing fetches sections

# Built-in Tuple Functions

S.No. | Function | Description
-----|-----------|---------
1 | cmp(tuple1, tuple2) | No longer available in Python 3.
2 | len(tuple) | Gives the total length of the tuple.
3 | max(tuple) | Returns item from the tuple with max value.
4 | min(tuple) | Returns item from the tuple with min value.
5 | tuple(seq) | Converts a list into tuple.

### len() Method

In [9]:
tuple1, tuple2 = (123, 'xyz', 'zara'), (456, 'abc')
print ("First tuple length : ", len(tuple1))
print ("Second tuple length : ", len(tuple2))

First tuple length :  3
Second tuple length :  2

### max() Method

In [10]:
tuple1, tuple2 = ('maths', 'che', 'phy', 'bio'), (456, 700, 200)
print ("Max value element : ", max(tuple1))
print ("Max value element : ", max(tuple2))

Max value element :  phy
Max value element :  700

### min() Method

In [11]:
tuple1, tuple2 = ('maths', 'che', 'phy', 'bio'), (456, 700, 200)
print ("min value element : ", min(tuple1))
print ("min value element : ", min(tuple2))

min value element :  bio
min value element :  200

### tuple() Method

Converts a list of items into tuples

In [12]:
list1= ['maths', 'che', 'phy', 'bio']
tuple1=tuple(list1)
print ("tuple elements : ", tuple1)

tuple elements :  ('maths', 'che', 'phy', 'bio')